.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.bookshelf-title {
  border-bottom: 1px solid #000;
}

.card {
  position: relative;
  min-height: 425px;
  max-width: 140px;
}

.card-title {
  font-weight: bold!important;
}

.card-image {
  height: 195px;
  background-position: center 0!important;
}

.card-content {
  padding: 10px 15px;
}

.card-actions {
  position: absolute;
  bottom: 0;
}

.floating-button {
  position: fixed!important;
  bottom: 15px;
  right: 15px;
}

.button-back {
  color: #fff;
}

.search-form {
  width: 100%;
  margin-bottom: 15px;
}

.author-name {
  margin-bottom: 5px!important;
}